
# 支持 ERNIE / DeepSeek / Kimi / Qwen 等，base_url 一致
API_BASE_URL=https://aistudio.baidu.com/llm/lmapi/v3
AI_STUDIO_API_KEY=xxx

# ===== 外部 API（可选）=====
OCR_API_URL=https://j5j557k6rbo1c6f4.aistudio-app.com/layout-parsing
OCR_API_TOKEN=9202eca5d349064f1f473c19a1c3e5876ffe42ca