% IEEE Conference template (IEEEtran)
% Suitable for CVPR, ICCV, ICRA, INFOCOM and most IEEE-style venues.
\documentclass[conference]{IEEEtran}
\IEEEoverridecommandlockouts

((* if has_cjk *))
\usepackage[UTF8,fontset=fandol]{ctex}
((* endif *))
\usepackage[a4paper,margin=((( margin_mm )))mm]{geometry}
\usepackage{cite}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage{array}
\usepackage{longtable}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{algorithmic}
\usepackage{xcolor}
\usepackage{hyperref}
\usepackage{caption}
\usepackage{float}
\usepackage{enumitem}

\hypersetup{
    colorlinks=true,
    linkcolor=black,
    citecolor=blue,
    urlcolor=blue,
}
\sloppy
\emergencystretch=2em
\allowdisplaybreaks

\begin{document}

\title{((( title )))}

((* if authors *))
\author{
((* for author in authors *))
\IEEEauthorblockN{((( author )))}((* if not loop.last *)) \and ((* endif *))
((* endfor *))
}
((* endif *))

\maketitle

((* if abstract *))
\begin{abstract}
((( abstract )))
\end{abstract}
((* endif *))

((* if keywords *))
\begin{IEEEkeywords}
((( keywords|join(', ') )))
\end{IEEEkeywords}
((* endif *))

((* for section in sections *))
((* if section.level == 1 *))
\section{((( section.heading )))}
((* elif section.level == 2 *))
\subsection{((( section.heading )))}
((* else *))
\subsubsection{((( section.heading )))}
((* endif *))

((* for para in section.paragraphs *))
((( para )))

((* endfor *))

((* for fig in section.figures *))
((* if fig.rendered_path *))
\begin{figure}[!t]
    \centering
    \includegraphics[width=\columnwidth]{((( fig.rendered_path )))}
    \caption{((( fig.caption )))}
    \label{fig:((( loop.index )))}
\end{figure}
((* endif *))
((* endfor *))

((* for tbl in section.tables *))
((* if tbl.headers and tbl.rows *))
\begin{table}[!t]
    \centering
    \caption{((( tbl.caption )))}
    \begin{tabular}{((( tbl.col_spec )))}
    \toprule
    ((( tbl.header_row ))) \\
    \midrule
    ((* for row_line in tbl.body_rows *))
    ((( row_line ))) \\
    ((* endfor *))
    \bottomrule
    \end{tabular}
\end{table}
((* endif *))
((* endfor *))

((* endfor *))

((* if references *))
\begin{thebibliography}{((( references|length )))}
((* for ref in references *))
\bibitem{ref((( loop.index )))} ((( ref )))
((* endfor *))
\end{thebibliography}
((* endif *))

\end{document}
